@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.error {
  size:20px;
  color: red; /* Corrected from font-color to color */
  display:block;
}
.header-container {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Aligns items vertically */
  margin-bottom: 20px; /* Optional: Adds space below the header */
}
.h5{
  margin-right:200px;
  padding-left:20px;
}
.todo{
  display:flex;
  justify-content:center;
  flex-direction:row;
}
.delete{
  margin-left:325px;
  margin-top:20px;
  position:absolute;
  background-color:black;
  color:red;

}
.check{
  margin-left:260px;
  margin-top:20px;
  position:absolute;
  background-color:black;
  color:blue;
}
.completed {
  text-decoration: line-through;
  color: gray;
}

.todos{
  display:flex;
  margin-top:30px;
  margin-left:400px;
  background-color:white;
  width:400px;
  border-radius:10px;

}
.todo-container{
  display:flex;
  justify-content:center;
  flex-direction:column;
  


}
.todo-h1 {
  margin-right:700px;
}
.add{
  margin-left:20px;
  margin-top:18px;
  height:40px;
}
.logout{
  margin-top:20px;
  color:red;
}
.todo-h2{
  margin-right:900px;
  font-size:3rem;
}

.btn-3 {
  display:flex;
  flex-direction:row;
}


.btn-2 {
  margin: 20px;
}

.container {
  background-color: white;
  border-radius: 20px;
}

.inp-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 20px;
}

.inp {
  width: 250px;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
}

.heading-2 {
  padding: 10px;
}

.btn {
  margin-bottom: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
